body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   
}

body {
  padding: 1rem;
}

h1 {
  text-align: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  text-align: center;
}

input {
   font-size: 1.3rem;
   margin-right: 0.2rem;
   background-color: rgb(226, 223, 223);
   border: none;
   border-radius: 0.5rem;
}

input::placeholder {
  padding-left: 0.2rem;
  font-style: italic;
}



.coin-img {
  width: 1.5rem;
  object-fit: contain;
}

.coin-info {
  display: grid;
  gap: 1rem;
  margin-left: 1rem;
  margin-top: 2rem;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr;
  font-weight: bold;
  font-style: italic;
  border-top: 1px solid rgb(99, 97, 97);
  background-color: rgba(226, 223, 223, 0.314);
}

.coins{
  display: grid;
  gap: 1rem;
  margin-left: 1rem;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr;
  border-top: 1px solid rgb(99, 97, 97);
}

.coins:hover {
  font-weight: 700;
}

.coin-credentials{
  display: flex;
  gap: 1rem;
} 

.coin-symbol {
  font-weight: 200;
}

::-webkit-scrollbar {
  width: 0;
}


.website-theme {
  font-size: 1.2rem;
  border: none;
  border-radius: 0.6rem;
  background-color: transparent;
  cursor: pointer;
}

.sun {
  color: white;
  border: 1px solid white;
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.sun:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
}

.moon {
  border: 1px solid black;
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.moon:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}

.coin-info-dark-theme {
  background-color: #171616d1;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.github-icon {
  padding-left: 0.7rem;
}

.github {
  padding-top: 0.25rem;
}

.heart-icon {
  color: red;
  height: 20px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.65rem;
}

